* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151517;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  border: 4px solid black;
  padding: 30px;
  border-radius: 50px;
  width: 700px;
  height: 600px;
}

.form-ctn {
  display: flex;
  flex-direction: column;
}

.input-ctn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-title {
  color: white;
  font-size: 1em;
  cursor: pointer;
  /* font-weight: bold; */
  font-size: 2em;
}

.delete {
  background-color: red;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-size: 2em;
  border-radius: 5px;
}

#add {
  font-size: 1.5em;
  padding: 10px;
  width: 100px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
}

input#bookname {
  font-size: 1.5em;
  padding: 10px;
  width: 300px;
}

.list-ctn {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 40px;
}

.book-label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}
.fields {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.list-of-the-books {
  background-color: #151517;
  margin-top: 40px;
  height: 100vh;
  width: 600px;
  overflow-y: auto;
  padding: 20px 50px;
  border-radius: 8px;
}

.empty-book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.7em;
}
